@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* common style */
* {
    margin: 0;
    padding: 0;
    font-family: "Fira Sans", serif;
}

body {
    background-color: #F1F1F3;
}

/* share style */
.title {
    font-size: 20px;
    font-weight: 700;
    color: rgba(14, 14, 14, 0.8);
}

.discription {
    color: rgb(14, 14, 14, 0.7);
}

.heading {
    font-size: 40px;
    font-weight: 700;
    color: #0E0E0E;
    margin-bottom: 32px;
}

.cards {
    display: flex;
    gap: 24px;
}

.common-btn {
    padding: 11px 20px;
    color: #FFFFFF;
    border-radius: 8px;
    border: none;
    background-color: #006A50;
    border: 1px solid #006A50;
}

.common-btn:hover {
    background-color: transparent;
    border: 1px solid #0E0E0E;
    color: black;
    transition: 0.5s;
}

/* nav part */
nav {
    width: 1280px;
    margin: 0 auto;
}

nav .nav-container {
    display: flex;
    justify-content: space-between;
    padding-top: 31px;
}

nav .heading{
    margin-bottom: 0;
}
nav .common-btn {
    padding: 15px 30px;
    color: #006A50;
    background-color: transparent;
    font-size: 18px;
    font-weight: 600;
}

nav .common-btn:hover {
    background-color: #006A50;
    color: #FFFFFF;
    transition: .5s;
}

/* main part */
main {
    width: 1280px;
    margin: 0 auto;
}


/* hero part */
.hero {
    display: flex;
    /* gap: 64px; */
    justify-content: center;
    justify-content: space-between;
    background-color: #C6E4D6;
    padding: 80px 65px;
    border-radius: 24px;
    margin-top: 20px;
}

.hero .subtitle {
    font-size: 24px;
    font-weight: 500;
    color: rgb(14, 14, 14, 0.5);
    margin-bottom: 16px;
}

.hero .hero-title {
    font-size: 56px;
    font-weight: 700;
    color: #0E0E0E;
    margin-bottom: 24px;
    width: 615px;

}

.hero button {
    font-weight: 600;
    background-color: #006A50;
    color: #FFFFFF;
    padding: 17px 34px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
}

.hero button:hover {
    background-color: transparent;
    border: 1px solid #0E0E0E;
    color: black;
    transition: 0.5s;
    font-size: 20px;
}

/* pillars part */

.pillars {
    margin: 80px auto;
}

.pillars .card {
    width: 280px;
    padding: 24px;
    /* box-shadow: ; */
    background-color: #FFFFFF;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
}

.pillars .card img {
    padding: 25px 0;
}

.pillars .card .discription {
    padding: 12px 0 24px;
    width: 254px;
}

/* vision part */

.vision {
    padding-bottom: 32px;
}

.vision .heading {
    margin-bottom: 24px;
}

.vision .card {
    width: 380px;
    padding: 32px 0 32px 32px;
    border-radius: 16px;
}

.vision img {
    padding-bottom: 32px;
}

.vision .discription {
    padding-bottom: 32px;
}

.vision .card .discription {
    padding: 12px 0 32px;
    width: 350px;
}

.vision .btn1 {
    background-color: #5490F5;
    border: none;
}

.vision .btn1:hover {
    background-color: #80abf5;
}

.vision .btn2 {
    background-color: #09A15C;
    border: none;

}

.vision .btn2:hover {
    background-color: #45a87c;
}

.vision .btn3 {
    background-color: #FFC239;
    border: none;

}

.vision .btn3:hover {
    background-color: #f9d57f;
}

.vision .card1 {
    background-color: rgba(84, 144, 245, 0.2);
}

.vision .card2 {
    background-color: #C6E4D6;
}

.vision .card3 {
    background-color: #F7EBCF;
}
/* Future-insights */

.Future-insights {
    padding: 48px 24px;
    background-color: #FFFFFF;
    background-image: url("../assets/quote-bg.png");
    background-repeat: no-repeat;
    border-radius: 16px;
    margin-top: 32px;
    background-position-x: 24px;
    background-position-y: 24px;
}

.Future-insights .discription {
    padding-bottom: 12px;
    width: 1230px;
}

.Future-insights .sub-discription {
    color: rgba(14, 14, 14, 0.6);
    padding-top: 6px;
}

/* opinion part */

.opinion .table-container {
    background-color: #FFFFFF;
    border-radius: 16px;
    padding: 32px;
}



td {
    border: 1px solid rgba(14, 14, 14, 0.15);
    width: 100%;
}

.opinion th {
    background-color: #C6E4D6;
    padding: 24px 0 ;
    font-weight: 600;
    font-size: 20px;
    text-align: start;

}

.opinion .Questions{
    padding-left: 24px;
}

.opinion td {
    padding-left: 24px;
    padding-right: 24px;
    font-weight: 600;

}

.opinion .btn {
    background-color: #C6E4D6;
    padding: 12px 16px;
    border: 1px solid #0E0E0E;
    border-radius: 4px;
    font-weight: 500;
    width: 100%;
    margin: 24px auto;
    width: 152px;
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}


.opinion .btn i{
    /* position: absolute;
    top: 10px;
    right: 13px; */
    font-size: 20px;
}

/* news part  */

.news {
    margin: 80px 0;
}

.news .discription {
    margin-bottom: 32px;
}

.news .cards {
    flex-direction: column;
}

.news .card {
    padding: 48px;
    display: flex;
    gap: 32px;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 24px;
}

.news .card .topic-img img {
    border-radius: 24px;
}

.news .card .title {
    font-size: 32px;
    padding-bottom: 12px;
}

.news .card .chanale-name {
    padding-bottom: 12px;
}

.news .card .date {
    padding-bottom: 12px;
}

/* donet part */

.donate .heading {
    margin-bottom: 24px;
    text-align: center;
}

.donate .discription {
    margin-bottom: 32px;
    text-align: center;
    width: 1104px;
}

.donate .cards {
    justify-content: center;
}

.donate .card {
    font-size: 40px;
    padding: 40px;
    background-color: #FFFFFF;
    color: #0E0E0E;
    border-radius: 16px;
    margin-bottom: 32px;
}

.donate .card:hover {
    background-color: #C6E4D6;
    transition: .5s;
}

.donate input[type="text"] {
    display: block;
    margin-bottom: 32px;
    padding: 20px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: rgba(14, 14, 14, 0.3);
    width: 1030px;
    border: none;
    margin: 0 auto 32px;
}

.donate .common-btn {
    display: block;
    margin: 0 auto;
}

/* subcribe part */
.subcribe {
    margin: 80px 0;
    padding: 80px 0;
    background-color: #C6E4D6;
    border-radius: 24px;
}

.subcribe .heading {
    text-align: center;
}

.subcribe .discription {
    width: 622px;
    text-align: center;
    margin: 0 auto 24px;
}

.subcribe input[type="text"] {
    background-color: #FFFFFF;
    width: 600px;
    padding: 18px 0 18px 40px;
    color: rgba(14, 14, 14, 0.3);
    border: none;
    border-radius: 10px 0 0 10px;
    /* margin-bottom: 24px;  */
    /* amn ta keno hocche */

}

.subcribe .common-btn {
    padding: 17px 32px;
    border-radius: 0px 10px 10px 0;

}

.subcribe .information-center {
    display: flex;
    gap: 0;
    margin-bottom: 24px;
    justify-content: center;
}

/* footer part */
footer {
    background-color: white;

}

.footer-container {
    width: 1280px;
    margin: 0 auto;
}

.footer-container .heading {
    text-align: center;
    padding-top: 50px;
}

.footer-container hr {
    width: 1122px;
    opacity: 0.2;
    margin: 0 auto;
}

.footer-container .fotter-images {
    padding: 32px 0 50px;
    display: flex;
    justify-content: center;
    gap: 23px;
}
